// Модальное окно:

.modal {
	// Сделаем что бы модальное окно тянулось на указанную ширину: 660рх и на всю высоту экрана ( учётом отступов):
	position: absolute;

	// Разместим модальное окно по центру:
	left: 50%; /* даём отступ слева */
	transform: translateX(-50%); /* сдвигаем влево на полловину своей ширины */

	// Что бы ширина модального окна не зависила от ширины контента, задаём ширину:
	width: 660px;

	// Что бы шапка была всегда сверху, контентная часть по центру, а футер-снизу:
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	// Сделаем отступы от краёв зкрана (что бы модальное окно лучше выделялось на общем фоне):
	top: 50px;
	bottom: 50px;
	background: #fff;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

	// Чтобы на малых экранах не появлялась прокрута:
	@media (max-width: 680px) {
		transform: none;
		width: auto;
		// Изменим отступы:
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
	}
}

// Шапка модального окна:
.modal__header {
	height: 90px;
	padding: 10px 40px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

	// Отцентруем контент внутри:
	display: flex;
	align-items: center;
}

// Контентная часть модального окна:
.modal__content {
	padding: 40px;

	// Для текста:
	font-size: 16px;
	line-height: 1.5;

	// Чтобы при необходимости появлялась прокрутка по высоте:
	overflow-y: auto;
}
//Выберем все абзацы у которых есть соседний абзац слева :
.modal__content p + p {
	margin-top: 1em; /*  отступ в единицах от размера шрифта (16рх) */
}

// Подвал модальнго окна:
.modal__footer {
	height: 90px;
	padding: 10px 40px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

	// Отцентруем контент внутри:
	display: flex;
	align-items: center;
}
